[submodule "example/external/hagl"]
	path = example/external/hagl
	url = https://github.com/tuupola/hagl.git
[submodule "example/external/embedded-fonts"]
	path = example/external/embedded-fonts
	url = https://github.com/tuupola/embedded-fonts.git
[submodule "example/external/fontx2-fonts"]
	path = external/fontx2-fonts
	url = https://github.com/CHiPs44/fontx2-fonts.git
