# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Cmake / Pico
build/

# VS Code
.vscode/
hagl_pico_vgaboard.code-workspace

# Examples
example/build/
example/build2/
pico_vgaboard_text_example/build2/
pico_vgaboard/src/BIOS_F08.bin
pico_vgaboard/src/BIOS_F08.h
pico_vgaboard/src/BIOS.F08
pico_vgaboard/src/BIOS.F08.h

# EOF
